# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Dataset
data/

# Trained models
models/*.h5
models/*.keras
Pulmonary_Disease_Detection/notebooks/models/*.h5
Pulmonary_Disease_Detection/notebooks/models/*.keras

# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# Runtime uploads
backend/uploads/

# History
history.json

# Screenshots
screenshot_*.png
HistoryPanel.js
